.color-container {
  width: 350px;
  font-family: sans-serif;
  margin-top: 3rem;
}

.palette-wrapper {
  width: 100%;
  overflow: hidden;
}

.palette {
  display: flex;
  width: 100%;
}

.color-container .color {
  height: 130px;
}

.color {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;

  transition: flex 0.1s linear;
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.color:nth-child(1) {
  background: #264653;
}

.color:nth-child(2) {
  background: #2a9d8f;
}

.color:nth-child(3) {
  background: #e9c46a;
}

.color:nth-child(4) {
  background: #f4a261;
}

.color:nth-child(5) {
  background: #e76f51;
}

.color:hover {
  flex: 2;
}

.color:hover span {
  opacity: 1;
}

.ColorPalette {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .color-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .palette {
    height: auto;
  }
  .color {
    flex: 1 1 calc(50% - 20px);
  }
  .ColorPalette {
    gap: 13px;
  }
}

.each-fade {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.image-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

img {
  width: 100%;
}

/* slideshow.css */
/* ... other styles ... */

.slide-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.slide-container.visible {
  opacity: 1;
  visibility: visible;
}

.slide-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  color: #333;
}
